spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true

gemini:
  ai:
    api-url: ${GEMINI_API_URL}
    api-key: ${GEMINI_API_KEY}

jwt:
    secret: ${JWT_SECRET}
    expiration: ${JWT_EXPIRATION}